.title {
  margin-bottom: 18px;
}

.first-text {
  margin: 32px 0;
  background-color: lightgreen;
}
.second-text {
  margin: 48px 0;
  background-color: lightskyblue;
}

.divider{
  height: 1px;
  background-color: black;
}