/* div ul li {
  background-color: coral;
} */

div > ul > li {
  background-color: coral;
}

div ul ul li {
  background-color: green;
}

/* div > ul {
 background-color: lightgreen;
} */

#icon_btn button,
div > ul  {
  background-color: lightgreen;
}
